<!doctype html>
<html>
<head>
    <title>Blogger</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Blogger</h1>

        <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <p>Login or Signup</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>
    <div class="row">
          <div class="well">
              <h3><span class="fa fa-laptop"></span> Blogs</h3>
              <ul>
                  <% users.forEach(function(u) { %>
                  <li><a href="/blog/<%= u.id %>"><%= u.blogTitle %></a></li>
                  <% }); %>
              </ul>
          </div>
      </div>
      
</div>
</body>
</html>
